.counter {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 80px;
    color: #999;
  }
  .btn {
    margin: 35px;
    width: 40px;
    height: 40px;
  }
}
