.counter {
  height: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  h1 {
    font-size: 80px;
    color: #999;
  }
  .btn {
    margin: 35px;
    width: 40px;
    height: 40px;
  }
}
